nextflow.enable.dsl = 2

manifest {

    name            = 'MohamedElsisii/RNAForge'
    author          = 'Mohamed Elsisi'
    homePage        = 'https://github.com/MohamedElsisii/RNAForge'
    description     = 'A modular Nextflow DSL2 pipeline for RNA-seq preprocessing, alignment, and gene quantification.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.04.0'
    version         = '1.0.0'
}

profiles {

    standard {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'

        docker.enabled = true

        singularity.enabled = false
        apptainer.enabled = false
        conda.enabled = false

        process.container = params.container
    }
}

params {

    // Input
    input      = "test_pe"
    reference  = ""
    container = 'mohamedelsisiii/rnaforge:1.0.0'
    // Workflow
    aligner    = "hisat2"
    trimmer    = "cutadapt"

    // Tool arguments
    assembly = null
    cache_dir = "${projectDir}/references"
    fastqc_args        = ""
    multiqc_args       = ""
    cutadapt_args      = ""
    trimmomatic_args   = ""
    hisat2_args        = ""
    bowtie2_args       = ""
    bwa_args           = ""
    samtools_sort_args = ""
    samtools_stats_args= ""
    featurecounts_args = ""
    publish_mode = "copy"
    // FeatureCounts
    fc_paired    = true
    fc_stranded  = 0
    fc_feature   = "exon"
    fc_attribute = "gene_id"

    // Output
    outdir = "results"
}

process {

    errorStrategy = 'terminate'
    maxRetries = 1
    
    // Quality Control
    withName: FASTQC {
        cpus = 2
        memory = '2 GB'
    }

    withName: MULTIQC {
        cpus = 1
        memory = '1 GB'
    }

    // Trimming
    withName: CUTADAPT {
        cpus = 2
        memory = '2 GB'
    }

    withName: TRIMMOMATIC {
        cpus = 2
        memory = '2 GB'
    }

    // Reference indexing
    withName: HISAT2_BUILD {
        cpus = 2
        memory = '4 GB'
    }

    withName: BOWTIE2_BUILD {
        cpus = 2
        memory = '4 GB'
    }

    withName: BWA_INDEX {
        cpus = 2
        memory = '4 GB'
    }

    // Alignment
    withName: HISAT2 {
        cpus = 4
        memory = '4 GB'
    }

    withName: BOWTIE2 {
        cpus = 4
        memory = '4 GB'
    }

    withName: BWA {
        cpus = 4
        memory = '4 GB'
    }

    // Post-alignment
    withName: SAMTOOLS_SORT {
        cpus = 2
        memory = '2 GB'
    }

    withName: SAMTOOLS_INDEX {
        cpus = 1
        memory = '1 GB'
    }

    withName: SAMTOOLS_FLAGSTAT {
        cpus = 1
        memory = '1 GB'
    }

    withName: SAMTOOLS_IDXSTATS {
        cpus = 1
        memory = '1 GB'
    }

    withName: SAMTOOLS_STATS {
        cpus = 2
        memory = '2 GB'
    }

    // Quantification
    withName: FEATURECOUNTS {
        cpus = 4
        memory = '4 GB'
    }
}
